body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f4ef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 31.25rem;
    height: 100vh;
}

.todo-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1);
    width: 90rem;
    text-align: center;
}

header {
    background: darkgray;
    display: flex;
    height: 6.25rem;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.125rem solid #ccc;
    margin-bottom: 1.25rem;
}

.tab {
    background: lightgray;
    font-size: medium;
    flex: 1;
    padding: 0.625rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    color: #000;
}

.tab.active {
    border-bottom: 0.125rem solid #d68b42;
}

.todo-input {
    z-index: 1;
    display: flex;
    width: 70%;
    margin: 0 12.5rem 1.25rem 12.5rem;
    justify-content: space-between;
}

.todo-input input {
    background: lightgray;
    width: 100%;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 1.25rem;
    outline: none;
    font-size: 1rem;
}

.add-button {
    background-color: #76B7CD;
    color: white;
    margin-left: -1.25rem;
    border: none;
    z-index: 2;
    padding: 0.625rem 1.25rem;
    border-radius: 0 1.25rem 1.25rem 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

ul.todo-list {
    list-style: none;
    margin-bottom: 1.25rem;
}

ul.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;
}

ul.todo-list li label {
    flex-grow: 1;
    margin-left: 0.625rem;
    text-align: left;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #666;
    text-decoration: none;
    border-bottom: 0.0625rem solid #76B7CD;
}

ul.todo-list li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #d68b42;
}

.checkbox-checked {
    display: block;
}

.checkbox-unchecked {
    display: none;
}

.to-do-content {
    width: 70%;
    border: 0.0625rem solid gray;
    margin: 0 12.5rem 1.875rem 12.5rem;
    border-radius: 1.25rem;
    background: lightgray;
}

ul.todo-list li label.completed {
    text-decoration: line-through;
    color: #C2C2C2;
}

.delete-button {
    padding: 0;
    background: none;
    border: none;
    font-size: 1.125rem;
    cursor: pointer;
    color: #ff6b6b;
}

.clear-button {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 3.125rem 3.125rem 1.25rem 1.25rem;
    float: right;
    background-color: transparent;
    font-family: poppins, sans-serif;
    line-height: 2.25rem;
    border: none;
    color: #D98326;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 400;
}


.clear-button:hover {
    text-decoration: underline;
}

@media (max-width: 80rem) {
    .todo-container {
        width: 90%;
    }
    .tabs {
        flex-direction: column
    }
    .todo-input {
        margin: 0 10% 1% 10%;
    }
    .to-do-content {
        margin: 0 10% 1% 10%;
    }
}