body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f4ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 1440px;
    text-align: center;
}

header {
    background: darkgray;
    display: flex;
    height: 100px;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.tab {
    background: lightgray;
    font-size: medium;
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    color: #000;
}

.tab.active {
    border-bottom: 2px solid #d68b42;
}

.todo-input {
    z-index: 1;
    display: flex;
    width: 1040px;
    margin-left: 200px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo-input input {
    background: lightgray;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.add-button {
    background-color: #76B7CD;
    color: white;
    margin-left: -20px;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

ul.todo-list {
    list-style: none;
    margin-bottom: 20px;
}

ul.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

ul.todo-list li label {
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid #76B7CD;
}

ul.todo-list li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #d68b42;
}

.checkbox-checked {
    display: block;
}

.checkbox-unchecked {
    display: none;
}

.to-do-content {
    width: 1040px;
    border: 1px solid gray;
    margin-left: 200px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: lightgray;
}

ul.todo-list li label.completed {
    text-decoration: line-through;
    color: #C2C2C2;
}

.delete-button {
    padding: 0;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #ff6b6b;
}

.clear-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px 50px 20px 20px;
    float: right;
    background-color: transparent;
    font-family: poppins, sans-serif;
    line-height: 36px;
    border: none;
    color: #D98326;
    font-size: 24px;
    cursor: pointer;
    font-weight: 400;
}


.clear-button:hover {
    text-decoration: underline;
}